* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-family: 'Roboto Mono';
  letter-spacing: 1px;
}

.title {
  text-align: center;
  color: #8b80f6;
  font-weight: 600;
  font-size: 3em;
  letter-spacing: 0px;
  text-shadow: -2px 1px rgba(0, 0, 0, 0.02), 0px 2px rgba(0, 0, 0, 0.02), 3px 3px rgba(0, 0, 0, 0.02), 2px 2px rgba(0, 0, 0, 0.02), 5px 5px rgba(0, 0, 0, 0.02), 2px 2px rgba(0, 0, 0, 0.02), 2px 1px rgba(0, 0, 0, 0.02);
}

container {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  height: 85vh;
  padding: 1%;

}

section {
  width: 30%;
  border: 0.5px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 30px -5px white;

}

container .targets {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
}

.label {
  width: 90%;
  height: 10vh;
  margin: 8% auto;
  color: white;
  text-align: center;
  line-height: 10vh;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);

}



.targets .label {
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  color: white;

}

.targets .targetsOfTheDay {
  padding: 5%;
  color: white;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 13px;
}

.targetsOfTheDay .target {
  display: flex;
  margin-bottom: 8%;
}

.target .targetsName {
  width: 75%;
  margin-right: 6%;
  text-align: end;
}

.hoursAndMinutes {
  display: flex;
  width: 50%;


}

.hoursAndMinutes input {
  width: 50%;
  margin-right: 2%;
  margin-left: 3%;
  padding: 2%;
  color: #e56101;
  border-radius: 2px;

}

.hoursAndMinutes input:focus {
  color: #dd005d;
}



input[type="number"] {
  border: none;

}

input[type="number"]:focus {
  outline: none;
}

.reset {
  width: 40%;
  margin-left: 30%;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  border: 1px solid #e2ebf0;
  border-radius: 15px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 5px 25px rgb(0 0 0 / 10%);


}

.reset:hover {
  background: #dd005d;
  color: white;
  cursor: pointer;
}

.status {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
  align-items: center;
}

.status .label {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: salmon;

}

.status input {
  width: 100%;
}


input[type="number"] {
  -webkit-appearance: none;
  width: 35%;

}


.status .statusAndTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  color: #fff;


}

.statusAndTimer .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 35vh;
  margin-bottom: 8%;
  color: white;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}




.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0px 0px rgba(247, 202, 201, 1);

}


.timer .stopwatchValues {
  color: white;
  font-size: 26px;
}

.chooseYourStatus span {
  display: inline-block;
  width: 100%;
  margin-bottom: 8%;
  text-align: center;
}

.chooseYourStatus .statusToPick {
  padding: 6px;
  width: 100%;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  font-family: 'ROBOTO';
  color: rgb(146 168 209);
}

.results {
  background: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
  font-family: 'Roboto Mono';
  font-size: 12px;
}

.results .label {
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  font-size: 16px;
}

.results .actualResultsAndToggleSwitch {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 600;
}

.actualResultsAndToggleSwitch .actualResults,
.actualResultsAndToggleSwitch .weeklyResultsDiv {}

.actualResults {
  padding: 5%;
}

.timeSpentOnGivenStatus .givenStatus {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  letter-spacing: 0px;
}

.timeSpentOnGivenStatus .givenStatus > div:nth-child(2) {
  margin-right: 4%;
  font-size: 13px;
  color: #8b80f6;
  font-family: 'Roboto Mono';
  letter-spacing: 0px;

}

.givenStatusLabel {
  width: 40%;
  text-align: end;
  margin-right: 3%;
}

.toggleSwitch {
  width: 100%;
  margin-top: 5%;

}


/*toggle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  width: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 16px;
  top: 2px;
  left: 3px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px skyblue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.wrongValue {
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 60%;
  margin-bottom: 1%;
  padding-left: 2%;
  color: white;
}

.wrongValue::after {
  content: '* wrong value';
}




.toggleSwitch {
  display: flex;
}

.dailyResults {
  width: 100%;
  text-align: center;
}

.switch {
  width: 28%;
  text-align: center;
}

.weeklyResults {
  text-align: center;
  width: 100%;
}

.weeklyResultsDiv {
  display: none;
  padding: 5%;
}

@media (orientation: portrait) {

  html,
  body {


    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  body {
    display: block;
  }

  .title {
    padding-top: 5%;
    align-items: flex-start;
    font-size: 150%;
  }

  container {
    padding: 0%;
  }

  .container {
    height: 100vh;
    width: auto;
    display: inline-flex;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
    cursor: grab;
  }

  .label {
    font-size: 20px;
    border-radius: 20px;
  }

  .status .statusAndTimer {
    width: 80%;
    height: 66%;
    margin-top: 8%;
  }

  .slidess {
    width: 100vw;
    height: 90%;
    display: flex;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 50px -1px var(--shadow);
    user-select: none;
    border-radius: 30px;
    flex-direction: column;




  }


  .grabbing {
    cursor: grabbing;
  }

  .targets,
  .status,
  .results {
    transform: scale(0.9);
    box-shadow: 5px 5px 40px -1px var(--shadow);
  }

  .targets .targetsOfTheDay {
    font-size: 83%;
    padding: 2%;
    margin-top: 2%;
  }

  .hoursAndMinutes input {
    font-size: 80%;
  }

  .reset {
    height: 12%;
    margin-top: 6%;
    margin-bottom: 5%;
    font-size: 120%;
    border-radius: 50px;
  }

  .chooseYourStatus span {

    font-size: 120%;
  }


  .chooseYourStatus .statusToPick {
    font-size: 15px;
  }

  option {
    font-size: 15px;
  }

  .statusAndTimer .chooseYourStatus {
    margin-bottom: 10%;
  }

  .statusAndTimer .timer {
    width: 220px;
    height: 220px;
    margin-bottom: 0;
  }

  .timer .stopwatchValues {
    font-size: 30px;
  }

  .circle {
    width: 200px;
    height: 200px;

  }

  .results {
    font-size: 15px;
  }

  .results .label {
    font-size: 20px;
  }

  .givenStatusLabel {
    width: 43%;
    margin-right: 4%;
  }

  .actualResults {
    padding: 5% 6% 10% 0;
  }

  .weeklyResultsDiv {
    padding: 5% 6% 10% 0;
  }

  .timeSpentOnGivenStatus .givenStatus > div:nth-child(2) {
    margin-right: 0;
    font-size: 13px;
  }

  .switch {
    width: 100px;
    height: 32px;
  }

  .toggleSwitch {
    margin-top: 2%;
    align-items: center;
  }

  .slider {
    top: 5px;
  }

  .slider:before {
    top: 3px;
    left: 3px;
    height: 20px;
    width: 20px;
  }

  input:checked + .slider:before {
    transform: translateX(23px);

  }

  .dailyResults,
  .weeklyResults {
    width: 80%;
  }

  .dailyResults {
    padding: 0 2%;
  }

}

@media (orientation: portrait) and (min-width:280px) and (max-width:300px) {
  .targets .targetsOfTheDay {
    margin-top: 10%;
  }

  .reset {
    margin-top: 18%;
  }

  .wrongValue {
    margin-left: 50%;
  }

  .chooseYourStatus span {
    margin-bottom: 15%;
  }

  .results .label {
    font-size: 18px;
  }
}

@media (orientation: portrait) and (min-width:360px) {
  .label {
    font-size: 24px;
  }





  .targets .targetsOfTheDay {
    font-size: 120%;
    padding-top: 10%;

  }


  .reset {
    margin-top: 15%;

  }

  .wrongValue {
    font-size: 18px;
    margin-left: 50%;
  }

  .chooseYourStatus span {

    font-size: 140%;
    margin-bottom: 14%;
  }

  .chooseYourStatus .statusToPick {
    font-size: 20px;
  }

  .statusAndTimer .timer {
    width: 280px;
    height: 280px;

  }

  .timer .stopwatchValues {
    font-size: 35px;
  }

  .circle {
    width: 260px;
    height: 260px;

  }

  .results {
    font-size: 17px;
  }

  .results .label {
    font-size: 23px;
  }

  .actualResults {
    padding: 12% 6% 10% 0;
  }

  .weeklyResultsDiv {
    padding: 12% 6% 10% 0;
  }

  .timeSpentOnGivenStatus .givenStatus > div:nth-child(2) {
    font-size: 16px;
  }

  .toggleSwitch {
    margin-top: 10%;
  }



}

@media (orientation: portrait) and (min-width:370px)and (max-width:380px) {
  .slidess {
    height: 95%;
  }

  .targets .targetsOfTheDay {

    padding-top: 2%;
  }

  .reset {
    margin-top: 5%;
  }
}



@media (orientation: portrait) and (min-width:540px) {
  .title {
    font-size: 200%;
  }

  .targets .targetsOfTheDay {
    padding-top: 0;
    font-size: 130%;
  }

  .label {
    margin: 5% auto;
    font-size: 30px;
  }

  .slidess {
    height: 92%;
  }

  .reset {
    margin-top: 4%;
    margin-left: 10%;
    display: inline-block;
    margin-left: 10%;
  }

  .wrongValue {
    display: inline-block;
    margin-left: 5%;
    width: 40%;
    font-size: 23px;
  }

  .results .label {
    font-size: 30px;
  }


  .chooseYourStatus span {
    font-size: 180%;
    margin-bottom: 8%;
  }

  .chooseYourStatus .statusToPick {
    font-size: 22px;
  }

  .givenStatusLabel {
    width: 50%;

  }

  .timeSpentOnGivenStatus .givenStatus > div:nth-child(2) {
    font-size: 22px;
  }

  .results {
    font-size: 22px;
  }

  .actualResults,
  .weeklyResultsDiv {
    padding: 6% 4% 6% 0;
  }
}

@media (orientation: portrait) and (min-width:760px) {
  .label {
    font-size: 40px;
  }

  .results .label {
    font-size: 40px;
  }

  .targets .targetsOfTheDay {
    padding-top: 0;
    font-size: 190%;
  }

  .wrongValue {
    font-size: 28px;
  }

  .chooseYourStatus span {
    font-size: 250%;
    margin-bottom: 10%;
  }

  .chooseYourStatus .statusToPick {
    font-size: 30px;
  }

  .statusAndTimer .timer {
    width: 380px;
    height: 380px;
  }

  .circle {
    width: 350px;
    height: 350px;
  }

  .timer .stopwatchValues {
    font-size: 55px;
  }

  .timeSpentOnGivenStatus .givenStatus > div:nth-child(2) {
    font-size: 30px;
  }

  .results {
    font-size: 30px;
  }

  .switch {
    width: 130px;
    height: 44px;
  }

  .slider:before {
    height: 30px;
    width: 30px;
  }

  input:checked + .slider:before {
    transform: translateX(32px);
  }
}

@media (orientation: portrait) and (min-width:912px) {
  .title {
    font-size: 300%;
  }

  .slidess {
    max-width: 910px;
    max-height: 1280px;
  }

  .targets .targetsOfTheDay {
    font-size: 270%;
  }

  .label {
    font-size: 60px;
  }

  .results .label {
    font-size: 60px;
  }

  .reset {
    font-size: 140%;
  }

  .chooseYourStatus span {
    font-size: 360%;
    margin-bottom: 9%;
  }

  .chooseYourStatus .statusToPick {
    font-size: 50px;
  }

  .statusAndTimer .timer {
    width: 500px;
    height: 500px;
  }

  .circle {
    width: 460px;
    height: 460px;
  }

  .results {
    font-size: 40px;
  }

  .timeSpentOnGivenStatus .givenStatus > div:nth-child(2) {
    font-size: 40px;
  }

  .toggleSwitch {
    margin-top: 0%;
  }

  .switch {
    width: 200px;
    height: 74px;
  }

  .slider:before {
    height: 50px;
    width: 50px;
    top: 7px;
    left: 6px;
  }

  input:checked + .slider:before {
    transform: translateX(42px);
  }
}

/*@media (orientation: landscape) and (max-width:540px) {
  container {
    width: 100vw;
  }

  .title {
    font-size: 1.5em;
  }
}*/

@media (orientation: landscape) and (max-width:540px) {

  html,
  body {


    /*    height: 100%;*/
    /*    width: 100%;*/
    /*    overflow: hidden;*/
  }

  body {
    display: block;
  }

  .title {
    padding-top: 0;
    /*    align-items: flex-start;*/
    font-size: 100%;
  }

  container {
    padding: 0%;
  }

  .container {
    height: 100vh;
    width: auto;
    display: inline-flex;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
    cursor: grab;
  }

  .label {
    font-size: 20px;
    border-radius: 30px;
    margin: 3% auto;
  }

  .status .statusAndTimer {
    width: 80%;
    height: 66%;
    margin-top: 8%;
  }

  .slidess {
    width: 100vw;
    height: 95%;
    display: flex;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 50px -1px var(--shadow);
    user-select: none;
    border-radius: 30px;
    flex-direction: column;




  }


  .grabbing {
    cursor: grabbing;
  }

  .targets,
  .status,
  .results {
    transform: scale(0.9);
    box-shadow: 5px 5px 40px -1px var(--shadow);
  }

  .targets .targetsOfTheDay {
    font-size: 83%;
    padding: 0;
    margin-top: 0;
  }

  .targetsOfTheDay .target {
    margin-bottom: 1%;
  }

  .hoursAndMinutes input {
    font-size: 80%;
  }

  .reset {
    height: 12%;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 10%;
    font-size: 120%;
    border-radius: 50px;
  }

  .wrongValue {
    display: inline-block;
    width: 30%;
    margin-left: 5%;
  }

  .status .statusAndTimer {
    flex-direction: row;
    width: 100%;
    padding: 8%;
    margin-top: 2%;
  }

  .chooseYourStatus span {

    font-size: 120%;
  }


  .chooseYourStatus .statusToPick {
    font-size: 15px;
  }

  option {
    font-size: 15px;
  }

  .statusAndTimer .chooseYourStatus {
    width: 50%;
    margin-bottom: 10%;
    margin-right: 8%;
  }

  .statusAndTimer .timer {
    width: 200px;
    height: 200px;
    margin-bottom: 0;
  }

  .timer .stopwatchValues {
    font-size: 30px;
  }

  .circle {
    width: 180px;
    height: 180px;

  }

  .results {
    font-size: 15px;
  }

  .results .label {
    font-size: 20px;
  }

  .givenStatusLabel {
    width: 43%;
    margin-right: 4%;
  }

  .actualResults {

    padding: 5% 6% 5% 0;

  }

  .weeklyResultsDiv {
    padding: 5% 6% 5% 0;
  }

  .timeSpentOnGivenStatus .givenStatus {
    margin-bottom: 1%;
  }

  .timeSpentOnGivenStatus .givenStatus > div:nth-child(2) {
    margin-right: 0;
    font-size: 13px;
  }

  .switch {
    width: 100px;
    height: 32px;
  }

  .toggleSwitch {
    margin-top: 2%;
    align-items: center;
  }

  .slider {
    top: 5px;
  }

  .slider:before {
    top: 3px;
    left: 3px;
    height: 20px;
    width: 20px;
  }

  input:checked + .slider:before {
    transform: translateX(23px);

  }

  .dailyResults,
  .weeklyResults {
    width: 80%;
  }

  .dailyResults {
    padding: 0 2%;
  }

}
